# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/config/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/
Carthage/Support/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# SwiftPM
.build/

# Xcode automatic .ds_store
.DS_Store

# Archives
*.xcarchive

# Playground
timeline.xctimeline
playground.xcworkspace

# App Thinning
*.ipa
*.dSYM.zip
*.dSYM

# Firebase
GoogleService-Info.plist

# Others
*.orig
*.swp
*.swo
